extends ../layout/app

block header
    include ../partial/dashboard

block content
    .container.text-center
        form(method='POST' action='/auth/activate')
            h1 From email #{user.email} send activate mail. Pleas activate your user
            button.btn.btn-primary(type='submit') Resend mail
block footer
    include ../partial/footer
