
extends ../layout/main

block header
    include ../partial/header

block content
    h1.text-center Login
    form.form-horizontal.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3(method='POST' action='/auth/login')
        if (message.length > 0)
            div.alert.alert-danger= message
        div.form-group
            label.control-label(for='email') Email
            div.input-group
                span.input-group-addon
                    i.glyphicon.glyphicon-envelope
                input#email.form-control(type='email' placeholder='name@email.com' name='email' required)
        div.form-group
            label.control-label(for='pw') Password
            div.input-group
                span.input-group-addon
                    i.glyphicon.glyphicon-asterisk
                input#pw.form-control(type='password' placeholder='My super password' name='password' required)
        div.form-group.modal-footer
            div.btn-group-lg
                include ../partial/social_btn
                button.btn.btn-success(type='submit') Login
        script(src='/js/validator.js')
block footer
    include ../partial/footer


