
extends ../layout/main

block header
    include ../partial/header

block content

    h1.text-center Sign Up
    form.form-horizontal.col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3(method='POST' action='/auth/signup')
        if (message.length > 0)
            div.alert.alert-danger= message
        div.form-group
            label.control-label(for='email') Email
            div.input-group
                span.input-group-addon
                    i.glyphicon.glyphicon-envelope
                input#email.form-control(type='email' placeholder='name@email.com' name='email' required)
        div.form-group
            label.control-label(for='displayName') Display Name
            div.input-group
                span.input-group-addon
                    i.glyphicon.glyphicon-user
                input#displayName.form-control(type='text' placeholder='Login' name='displayName' required)
        div.form-group
            label.control-label(for='pw') Password
            div.input-group
                span.input-group-addon
                    i.glyphicon.glyphicon-asterisk
                input#pw.form-control(type='password' placeholder='Password' name='password' required)
        div.form-group
            label.control-label(for='pw2') Confirm Password
            div.input-group
                span.input-group-addon
                    i.glyphicon.glyphicon-asterisk
                input#pw2.form-control(type='password' placeholder='Confirm Password' name='confirmPassword' required)
        div.form-group.modal-footer
            div.btn-group-lg
                include ../partial/social_btn
                button.btn.btn-success(type='submit') Sign up
        script(src='/js/validator.js')


block footer
    include ../partial/footer
