extends layout/main

block header
    include partial/header

block content
    div.content
        div.posts
            div.post
                h1.post-title Lorem ipsum #1
                p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например,
                | юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum
                | для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.

            div.post
                h1.post-title Lorem ipsum #2
                p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например,
                | юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum
                | для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.

            div.post
                h1.post-title Lorem ipsum #3
                p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например,
                | юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum
                | для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.

block footer
    include partial/footer