@import "variables";

// GENERAL
// --------------------------
html {
  position: relative;
  min-height: 100%;
  line-height: 20px;
}
body {
  margin-bottom: 60px;
  background-color: #f8f8f8;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
  text-align: center;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.dropdown-menu.dropdown-messages {
  width: 310px;
  min-width: 0;
}

#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}
