
h1 {
  margin-bottom: 40px;
}
.tooltip-inner {
  white-space: pre;
  max-width: none;
}
.bg-success {
  margin-bottom: 15px;
  padding: 15px;
}
.bg-danger {
  margin-bottom: 15px;
  padding: 15px;
}
