// Variables
// --------------------------
// Description
// tsg - TeamSearch Global Style
// ts-version - style by version of application
// br-border
// bg-background
// btn-button
// --------------------------

@ts-css-prefix: tsg;
@ts-version: "0.1.0";

//
// General
// --------------------------
@ts-color: #333;
@ts-bg-color: #fff;
@ts-font-size: 18px;
@ts-line-height: 1.45;
@ts-font-weight: 400;
@ts-link-color: #1194c4;
// Navigation
// --------------------------
@ts-nav-bg-color: #f8f8f8;
@ts-nav-font-color: #777777;
@ts-nav-font-color-hover: #2F4F4F;
@ts-nav-font-underline-color: #2F4F4F;
@ts-nav-font-family: 'Open Sans', sans-serif;
@ts-nav-font-weight: 700;
@ts-nav-font-size: 14px;
// --------------------------
// Modal Form
// --------------------------
@ts-modal-form-close-color:black;
@ts-modal-form-close-color-focus:red;
// --------------------------
// Button
// --------------------------
@ts-btn-color:white;
@ts-btn-success-color:#4CAF50;
@ts-btn-cancel-color:#f44336;
// --------------------------
// Login form
// --------------------------
@ts-login-form-input-border-color: #ccc;
@ts-login-form-bg-color: rgba(0,0,0,0.4);
@ts-login-form-modal-content-bg-color: #fefefe;
@ts-login-form-modal-content-br-color: #888;