
extends ../../layout/main

block header
    include ../../partial/header

block content
    .container.text-center
        h1 Hello #{name}, you activated link
        a(href=link) ACTIVATE
block footer
    include ../../partial/footer




