nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    div.wrapper
        div.navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false'
            aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') Dashboard
        ul.nav.navbar-nav.navbar-top-links.navbar-right
            if user
                li.dropdown
                    a.dropdown-toogle(href='#' data-toggle='dropdown')
                        i.fa.fa-envelope.fa-fw
                        i.fa.fa-caret-down
                    ul.dropdown-menu.dropdown-messages
                        li: a(href='#')
                            div
                                strong User1
                                span.pull-right.text-muted 1 hour ago
                            div Hi user1 how are you?
                        li.divider
                        li: a(href='#')
                            div
                                strong User2
                                span.pull-right.text-muted 4 hour ago
                            div Hi user1 how are you?
                        li.divider
                        li: a(href='#')
                            div
                                strong User2
                                span.pull-right.text-muted 1 day ago
                            div Hi user1 how are you?
                        li.divider
                        li: a.text-center(href='#')
                            strong Read All Messages
                            i.fa.fa-angle-rigth
                li.dropdown
                    a.dropdown-toggle(href='#' data-toggle='dropdown' area-expended='false')
                        i.fa.fa-user.fa-fw
                        i.fa.fa-caret-down
                    ul.dropdown-menu.dropdown-user
                        li
                            a(href='/profile')
                                i.fa.fa-user.fa-fw &nbsp;Profile of&nbsp;
                                    strong= user.displayName
                        li
                            a(href='/settings')
                                i.fa.fa-gear.fa-fw &nbsp;Settings&nbsp;
                        li.divider
                        li
                            a(href='/logout')
                                i.fa.fa-sign-out.fa-fw &nbsp;Logout&nbsp;
            else
                li.dropdown: a(href='/auth/login') Log in
                li.dropdown: a(href='/auth/signup') Sign up