nav.navbar.navbar-default.navbar-fixed-top
    div.container
        div.navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false'
            aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') TeamSearch
        div.navbar-collapse.collapse(id='navbar')
            ul.nav.navbar-nav.navbar-right
                li: a(href='/') Home
                li: a(href='/about') About
                if user
                    li: a(href='/profile')= user.displayName
                else
                    li: a(href='/auth/login') Log in
                    li: a(href='/auth/signup') Sign up