button.btn.btn-github
    span.fa.fa-github
button.btn.btn-bitbucket
    span.fa.fa-bitbucket
button.btn.btn-facebook
    span.fa.fa-facebook
button.btn.btn-twitter
    span.fa.fa-twitter
button.btn.btn-vk
    span.fa.fa-vk