doctype html
meta(charset='utf-8')
link(rel='stylesheet' href='/bootstrap/css/bootstrap.min.css')
link(rel='stylesheet' href='/bootstrap/css/bootstrap-theme.min.css')
link(rel='stylesheet' href='/css/style.css')
link(rel='stylesheet' href='/css/font-awesome/font-awesome.css')
link(rel='stylesheet' href='/css/social-buttons.css')
link(rel='stylesheet' href='/css/validator.css')
script(src='/bootstrap/js/jquery-3.1.1.min.js')
script(src='/bootstrap/js/bootstrap.min.js')
title= title

header.header
    block header
div.container
    block content
footer.footer
    block footer